@use "../abstracts";

// placeholder
%position-fixed {
  position: fixed;
  z-index: 7;
  inset: 0 20% 0 0;
  background-color: abstracts.$bgd-color;
}

%transition {
  opacity: 0;
  transition: 0.3s linear;
  transition-property: visibility, transform, opacity;
}

%transitionHover {
  opacity: 1;
}

// menu
.menu-mobile {
  --gutter: 20px;

  &__modal {
    @extend %position-fixed;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.3);
    visibility: hidden;
    @extend %transition;

    #menu-mobile:checked ~ & {
      visibility: visible;
      @extend %transitionHover;
    }
  }

  &__list {
    @extend %position-fixed;
    z-index: 8;

    transform: translateX(-100%);
    @extend %transition;

    #menu-mobile:checked ~ & {
      transform: translateX(0);
      @extend %transitionHover;
    }

    img {
      padding: var(--gutter) 0 0 var(--gutter);
    }
  }
}

#menu-mobile__list {
  --g-x: 20px;

  margin-top: 30px;

  div {
    position: relative;
    padding: 10px var(--gutter);

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.02);

      & a {
        color: abstracts.$primary-color;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(var(--g-x) / 2);
      right: calc(var(--g-x) / 2);
      display: block;
      width: calc(100% - var(--g-x));
      height: 1px;
      background-color: #ccc;
    }

    &:last-child::after {
      background-color: transparent;
    }
  }

  a {
    font-size: 2.4rem;
  }
}
